<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>ITEMS</title>
</head>

<body>
  <%- include('parts/sidebar')%>

  <%- include('parts/main')%>

  <script src="/javascripts/script.js"></script>

</body>

</html>