<main>

   <% if (quantity > 0) { %>
      <ul>

      <% for (let i = 0; i < quantity; i++) { %>
         <li>
            <div class="numero">
               <p> <%= i+1%> </p>
            </div>
            <div class="item">
               <p>Item <%= option %> <%= i+1%></p>
            </div>
         </li>
      <% } %>
      
      </ul>

      <div class="pagination" id="pagination">
         <a href="#" class="pages"><</a>
         <a href="#" class="pages">></a>
      </div>
   <% } %>

</main>