<aside>
   <div id="sidebar">
     
     <div>
       <a href="#" id="link-option">Option</a>
     </div>

     <form action="/" method="POST">
       <div>
        <input id="error" type="number" name="quantity" placeholder="Item quantity" required>
         <button id="create" type="submit">Create</button>

         <nav id="dropdown" class="hide">
           <select name="option">
               <option value="A">A</option>
               <option value="B">B</option>
           </select>
         </nav>

       </div>
     </form>

   </div>
 </aside>